Repository particle-iot/device-os, pull requests merged in 2021-03, with the labels that each got.

#2260 Increase the maximum size of event data
  build/platform-id.mk
  communication/inc/communication_dynalib.h
  communication/inc/dtls_session_persist.h
  communication/inc/protocol.h
  communication/inc/protocol_defs.h
  communication/inc/spark_descriptor.h
  communication/inc/spark_protocol_functions.h
  communication/src/dtls_message_channel.cpp
  communication/src/dtls_protocol.h
  communication/src/functions.h
  communication/src/lightssl_protocol.h
  communication/src/messages.cpp
  communication/src/messages.h
  communication/src/protocol.cpp
  communication/src/protocol_defs.cpp
  communication/src/spark_protocol_functions.cpp
  communication/src/variables.cpp
  crypto/inc/mbedtls_config_default.h
  crypto/inc/mbedtls_config_photon.h
  hal/src/nRF52840/mbedtls/mbedtls_config_platform.h
  system/src/system_cloud_internal.cpp
  test/unit_tests/communication/protocol.cpp
  user/tests/integration/communication/events/events.cpp
  user/tests/integration/communication/events/events.spec.js
  user/tests/integration/communication/functions/functions.cpp
  user/tests/integration/communication/functions/functions.spec.js
  user/tests/integration/communication/variables/variables.cpp
  user/tests/integration/communication/variables/variables.spec.js
Labels: enhancement

#2262 BLE: supports LESC pairing.
  hal/inc/ble_hal.h
  hal/inc/ble_hal_defines.h
  hal/inc/hal_dynalib_ble.h
  hal/src/nRF52840/ble_hal.cpp
  user/tests/wiring/api/ble.cpp
  user/tests/wiring/ble_central_peripheral/ble_central/central.cpp
  user/tests/wiring/ble_central_peripheral/ble_peripheral/peripheral.cpp
  wiring/inc/spark_wiring_ble.h
  wiring/src/spark_wiring_ble.cpp
Labels: ble, feature, ready to merge

#2300 [Release] v3.0.0-rc.2
  CHANGELOG.md
  build/release.sh
  build/version.mk
  communication/inc/protocol.h
  communication/inc/protocol_defs.h
  communication/src/messages.cpp
  communication/src/messages.h
  communication/src/publisher.cpp
  communication/src/publisher.h
  communication/src/spark_protocol_functions.cpp
  communication/src/variables.cpp
  hal/inc/hal_platform.h
  hal/network/lwip/cellular/pppncpnetif.cpp
  hal/network/lwip/ppp_client.cpp
  hal/network/ncp/cellular/cellular_ncp_client.h
  hal/network/ncp_client/quectel/quectel_ncp_client.cpp
  hal/network/ncp_client/quectel/quectel_ncp_client.h
  hal/network/ncp_client/sara/sara_ncp_client.cpp
  hal/network/ncp_client/sara/sara_ncp_client.h
  hal/src/boron/hal_platform_config.h
  hal/src/nRF52840/timer_hal.cpp
  modules/shared/system_module_version.mk
  system/inc/system_version.h
  system/src/system_cloud_connection.cpp
  system/system-versions.md
  test/unit_tests/communication/protocol.cpp
  test/unit_tests/communication/util/coap_message.h
  user/tests/integration/communication/events/events.spec.js
  user/tests/integration/communication/variables/variables.spec.js
  user/tests/wiring/no_fixture_long_running/network.cpp
  user/tests/wiring/no_fixture_long_running/ticks.cpp
Labels: DO NOT MERGE

#2298 Ble5 long range wiring API
  hal/inc/ble_hal.h
  hal/src/nRF52840/ble_hal.cpp
  user/tests/wiring/api/ble.cpp
  user/tests/wiring/ble_scanner_broadcaster/ble_broadcaster/broadcaster.cpp
  user/tests/wiring/ble_scanner_broadcaster/ble_scanner/scanner.cpp
  wiring/inc/spark_wiring_ble.h
  wiring/src/spark_wiring_ble.cpp
Labels: ble, feature, ready to merge
